@import '../../common/styles/styles.less';

body {
  margin: 0;
  padding: 0;
}

.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .registration-form {
    width: 280px;
    height: 570px;
    background: @menu-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    box-shadow: 2px 2px 3px @border-color;

    &__title {
      font-family: @baseFontFamily;
      color: @color-dark-grey;
    }

    &__form {
      margin: 0;
    }

    .input-block {
      display: flex;
      flex-direction: column;
      width: 220px;
      margin-bottom: 30px;
    }
  }

  .button-block {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 20px;

    &__button {
      margin-bottom: 5px;
      height: @baseElementHeight;
      border-radius: 20px;
      border: 1px solid @border-color;

      &:hover {
        background: @button-hovered-color;
        cursor: pointer;
      }
    }
  }
}
