@import "./common/styles/styles.less";

body {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  background: @menu-color;
}

.menu {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 5px 5px -5px #6e6e6e;
  min-width: 820px;

  a {
    margin: 30px 30px;
    font-size: 18px;
    font-family: @baseFontFamily;
    text-decoration: none;
    color: @color-dark-grey;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #000;
      color: #000;
    }
  }
}
